h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0px auto;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  margin: 0px auto;
}

.sidebar {
  flex: 1;
  min-width: 250px;
  border-right: 1px solid black;
  text-align: right;
  padding-right: 30px;
  background-color: #485A77;
  color: white;
}

.sidebar a {
  color: white;
  transition-property: font-weight;
  text-decoration: none;
}

.sidebar a:visited {
  color: white;
}

.sidebar a:hover {
  font-weight: 800;
  transition-property: font-weight;
  transition-duration: 0.3s;
}

.sidebar .logo {
  transform: translateY(300px);
  transition-duration: 1s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.75);
}

.sidebar .soccer {
  transform: translateY(350px);
  transition-duration: 2s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 3);
}

.sidebar li {
  list-style-type: none;
}

.main {
  flex: 4;
  display: flex;
  flex-flow: row wrap;
  overflow: scroll;
  padding-left: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../images/pic5.JPG");
  background-size: cover;
  background-repeat: repeat;
  color: white;
}

.about {
  flex: 1;
  padding: 1%;
  height: 90vh;
  overflow: scroll;
  min-width: 340px;
}

.about a {
  color: white;
}

.about a:visited {
  color: white;
}

.about p {
  text-align: justify;
}

.about .keyword {
  font-weight: 800;
}

.photo-section {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  padding: 1%;
  height: auto;
  overflow: scroll;
}

.photo-section img, .modal img {
  cursor: pointer;
}

.photo-section img, .modal img {
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  transition: 0.5s 0.2s ease;
  transition-property: box-shadow;
}

.photo-section img:hover, .modal img:hover {
  box-shadow: 4px 4px rgba(0, 0, 0, 0.7);
  transition: 0.5s 0.2s ease;
  transition-property: box-shadow;
}

.photo-section footer, .modal footer {
  position: absolute;
  bottom: 0px;
  right: 10px;
  color: white;
}

.photo-section footer p, .modal footer p {
  margin: 0;
}

.photo {
  margin: 10px;
}

.modal {
  display: none;
  width: 350px;
  height: 280px;
  position: absolute;
  top: 15%;
  left: 40%;
}

.modal .fa-times {
  position: absolute;
  top: 10px;
  right: 20px;
}

.modal .fa-times:hover {
  cursor: pointer;
}

@media (max-width: 922px) {
  footer p {
    display: none;
  }
  .main {
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .container {
    display: block;
  }
  .sidebar {
    padding: 2%;
  }
  .sidebar .links {
    text-align: left;
  }
  .sidebar .links h3 {
    margin: 1%;
  }
  .sidebar .links li {
    display: inline-block;
    margin: 1%;
  }
  .main {
    flex-flow: column wrap;
    padding: 2%;
  }
  .links h1, ul {
    margin: 0;
    padding: 0;
  }
  .soccer, .logo {
    display: none;
  }
  .photo-section {
    justify-content: center;
  }
}
